模版一:
{{ $var := .ExternalURL }}
{{ range $k, $v := .Alerts }}
{{ if eq $v.Status "resolved" }}
[恢复]
开始时间：{{GetCSTtime $v.StartsAt}}
结束时间：{{ $v.EndsAt.Format "2006-01-02 15:04:05" }}
故障主机IP：{{$v.Labels.instance}}
{{$v.Annotations.description}}
{{ else }}
[故障]
告警级别：{{$v.Labels.level}}
开始时间：{{ $v.StartsAt.Format "2006-01-02 15:04:05" }}
结束时间：{{ $v.EndsAt.Format "2006-01-02 15:04:05" }}
故障主机IP：{{$v.Labels.instance}}
{{$v.Annotations.description}}
{{ end }}
{{ end }}

模版二:
{{ $var := .ExternalURL}}{{ range $k, $v := .Alerts }}{{if eq $v.Status "resolved"}}
**【开始时间】**:{{GetCSTtime $v.StartsAt}}
**【结束时间】:** {{GetCSTtime $v.EndsAt}}
**【故障主机】:** {{$v.Labels.instance}}
**【告警描述】:** {{$v.Annotations.recovery_description}}
{{ else }}
**【开始时间】**:{{GetCSTtime $v.StartsAt}}
**【故障主机】**: {{$v.Labels.instance}}
**【告警描述】**: {{$v.Annotations.description}}
{{ end }}
{{- end }}


#dingding
{{ $var := .ExternalURL}}{{ range $k, $v := .Alerts }}{{if eq $v.Status "resolved"}}
#### 开始时间：{{GetCSTtime $v.StartsAt}}  
#### 结束时间：{{GetCSTtime $v.EndsAt}}
#### 描述信息: {{$v.Annotations.recovery_description}}  
{{else}}
#### 开始时间：{{GetCSTtime $v.StartsAt}}  
#### 结束时间：{{GetCSTtime $v.EndsAt}}
#### 描述信息: {{$v.Annotations.recovery_description}}  
{{end}}
{{ end }}