{{ $var := .ExternalURL}}{{ range $k, $v := .Alerts }}{{if eq $v.Status "resolved"}}
**【开始时间】**:{{GetCSTtime $v.StartsAt}}
**【结束时间】:** {{GetCSTtime $v.EndsAt}}
**【故障主机】:** {{$v.Labels.instance}}
**【告警描述】:** {{$v.Annotations.recovery_description}}
{{ else }}
**【开始时间】**:{{GetCSTtime $v.StartsAt}}
**【故障主机】**: {{$v.Labels.instance}}
**【告警描述】**: {{$v.Annotations.description}}
{{ end }}
{{- end }}